@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que não haja margem branca ao redor do site */
body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* bg-gray-100 */
}

#root {
  min-height: 100vh;
}

/* Remove as setas de inputs do tipo number nos navegadores Chrome, Safari, Edge e Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas de inputs do tipo number no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}